form a{
    margin-left: 5px;
}

form h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-show{
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-index-div{
    margin-top:-5px;
    margin-bottom: 10px;
}

.post-index-h2{
    margin-top: 10px;
}